.hero{
    height:100vh;
    background:
    linear-gradient(
    rgba(0,0,0,.45),
    rgba(0,0,0,.45)
    ),
    url("https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=2200");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
}

.hero-container{
    width:90%;
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:80px;

    align-items:center;
}

.hero-tag{
    color:#c8a96b;
    letter-spacing:3px;
    margin-bottom:20px;
}

.hero-left h1{
    font-size:88px;
    line-height:0.95;
    color:white;
    margin-bottom:30px;
    font-family:'Cormorant Garamond',serif;
}

.hero-left p{
    max-width:650px;
    color:#e5e5e5;
    line-height:1.8;
    font-size:20px;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn-primary{
    background:#123629;
    color:white;
    padding:16px 34px;
    border-radius:40px;
}

.btn-secondary{
    border:1px solid white;
    color:white;
    padding:16px 34px;
    border-radius:40px;
}

.hero-right{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.floating-card{
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(18px);

    padding:35px;
    border-radius:24px;

    border:1px solid rgba(255,255,255,0.15);
}

.floating-card span{
    color:#c8a96b;
    font-size:14px;
    letter-spacing:2px;
}

.floating-card ul{
    margin-top:20px;
}

.floating-card li{
    list-style:none;
    color:white;
    padding:8px 0;
    font-size:18px;
}

.stats-section{

    background:#123629;

    display:grid;
    grid-template-columns:repeat(4,1fr);

    padding:80px 100px;

    text-align:center;
}

.stat-item h2{
    color:white;
    font-size:60px;
}

.stat-item p{
    color:#cfcfcf;
    margin-top:10px;
}

.why-us{
    padding:120px 80px;
    background:#f8f7f3;
}

.why-us h2{
    text-align:center;
    font-size:60px;
    margin-bottom:60px;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.why-card{
    background:white;
    padding:40px;
    border-radius:24px;
    text-align:center;
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-10px);
}

.why-card h3{
    margin:20px 0;
}